body {
    font-family: 'Zilla Slab', serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

/* ---------------------------HEADER------------------------------*/
header {
    background-color: #F8FAE5;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #76453B;
    font-size: 2.5rem;
    font-weight: 500
}
header h2 {
    margin: 0;
    color: #43766C;
    font-size: 1.25rem;
    font-weight: 400;
}
/* ---------------------------NAVIGATION------------------------------*/
nav {
    background-color: #B19470;
}
nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}
nav a {
    font: 1.1rem;
    text-decoration: none;
    color: #F8FAE5;
    font-weight: 400; 
    display: block;
    padding: .83rem 2rem;
}
nav li.active a {
    background-color: #F8FAE5;
        color: #B19470;
    border: 1px solid #B19470
}
nav a:hover {
    color: white
}


/* ---------------------------MAIN------------------------------*/
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #76453B;
    margin-bottom: .2rem;
    font-weight: 500;
}
main h2 {
    color: #43766C;
    margin-bottom: .2rem;
    font-size: 1.25rem;
    font-weight: 400;
}

main p {
    color: #2f3133;
    margin: 0 0 .3rem 0;
}

main ol {
    padding: .5rem 3vw;
    background-color: #F8FAE5;
    border: 2px solid #43766C;
    border-radius: .5rem;
    width: 27rem;
    font-size: .9rem;
}
main dl {
    font-size: .9rem;
    padding: .5rem 3vw;
}
main dl dt {
    color: #43766C;
    font-weight: 500;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main a {
    color: #43766C;
}
main a:hover {
    color: #76453B;
}

/* ---------------------------FOOTER------------------------------*/
footer {
    background-color: #F8FAE5;
    text-align: center;
    color: #43766C;
    padding: 1rem 0;
    font-size: .8rem;
    font-weight: 400;
}
footer a {
    color: #43766C;
}
footer a:hover {
    color: #76453B;
}
footer address {
    padding-top: 1rem;
}
